In [52]:
import re
import sys
import numpy as np
import pandas as pd
import csv
def main():
    answersTable = pd.read_table("r_answers.csv", sep=",") 
    
    answersTable[' AbsSum']= answersTable[' Score'].abs()

    # the absolute total score by question
    questiondf = answersTable.groupby([' ParentId'])[' AbsSum'].sum()
    
    questiondf = pd.DataFrame(questiondf)
    questiondf= questiondf.reset_index()
                
    #merge the df of answers and question
    answersTable= answersTable.merge(questiondf,left_on=' ParentId',suffixes=('', 'Global'), right_on=' ParentId', how='left')
    answersTable   
    
    # Score relative to the question, multiplied by the signal of the "individual" score
    answersTable[' RelativeScore'] =  answersTable[' AbsSum'] / answersTable[' AbsSumGlobal']  
    
    # The cum. number of questions answers by user 
    answersTable['CumSumQuestions'] = answersTable.groupby(' OwnerUserId').cumcount() + 1
    
    answersTable=answersTable.sort_values([' OwnerUserId',' CreationDate']) #order by user
    
    answersTable['CumScore'] = answersTable.groupby(' OwnerUserId')[' RelativeScore'].cumsum()
    
    answersTable=answersTable.sort_values([' OwnerUserId',' CreationDate']) #order by user


    answersTable['UpMetric'] = answersTable['CumScore']/answersTable['CumSumQuestions'] 

main()

In [160]:
answersTable = pd.read_table("r_answers.csv", sep=",") 

questiondf = answersTable.groupby([' ParentId'])[' Score'].sum()
answersTable[' AbsSum']= answersTable[' Score'].abs()

questiondf = answersTable.groupby([' ParentId'])[' AbsSum'].sum()

questiondf = pd.DataFrame(questiondf)
questiondf= questiondf.reset_index()
#questiondf[' Index'] = np.arange(len(questiondf))
#questiondf = questiondf.set_index([' Index'], drop=False)
#questiondf.index = range(len(questiondf))

questiondf

         ParentId   AbsSum
0           77434      499
1           79709       23
2           95007       59
3          102056      187
4          103312       10
5          127137      114
6          255697        2
7          359438       31
8          420296       46
9          439526       15
10         445059       15
11         467110       23
12         476342        1
13         476726       28
14         495744        4
15         498932        8
16         501917       17
17         509595        3
18         520810       50
19         551113        3
20         560329        5
21         570029       31
22         582653       16
23         596819       20
24         596976        3
25         652136      370
26         657440       10
27         659725       14
28         713878       62
29         717747        2
...           ...      ...
185907   49212806        0
185908   49212850        0
185909   49212934        1
185910   49212950        0
185911   49212965        2
185912   49213043        1
185913   49213137        2
185914   49213167        0
185915   49213418        0
185916   49213476        1
185917   49213565        0
185918   49213691        0
185919   49213836        0
185920   49213951        0
185921   49214005        0
185922   49214287        0
185923   49214435        0
185924   49214464        0
185925   49214756        0
185926   49214867        2
185927   49214950        1
185928   49215022        1
185929   49215193        0
185930   49215199        2
185931   49215356        1
185932   49215499        4
185933   49215781        0
185934   49215993        0
185935   49216103        3
185936   49216162        0

[185937 rows x 2 columns]

In [161]:
questiondf

         ParentId   AbsSum
0           77434      499
1           79709       23
2           95007       59
3          102056      187
4          103312       10
5          127137      114
6          255697        2
7          359438       31
8          420296       46
9          439526       15
10         445059       15
11         467110       23
12         476342        1
13         476726       28
14         495744        4
15         498932        8
16         501917       17
17         509595        3
18         520810       50
19         551113        3
20         560329        5
21         570029       31
22         582653       16
23         596819       20
24         596976        3
25         652136      370
26         657440       10
27         659725       14
28         713878       62
29         717747        2
...           ...      ...
185907   49212806        0
185908   49212850        0
185909   49212934        1
185910   49212950        0
185911   49212965        2
185912   49213043        1
185913   49213137        2
185914   49213167        0
185915   49213418        0
185916   49213476        1
185917   49213565        0
185918   49213691        0
185919   49213836        0
185920   49213951        0
185921   49214005        0
185922   49214287        0
185923   49214435        0
185924   49214464        0
185925   49214756        0
185926   49214867        2
185927   49214950        1
185928   49215022        1
185929   49215193        0
185930   49215199        2
185931   49215356        1
185932   49215499        4
185933   49215781        0
185934   49215993        0
185935   49216103        3
185936   49216162        0

[185937 rows x 2 columns]

In [162]:
answersTable= answersTable.merge(questiondf,left_on=' ParentId',suffixes=('', 'Global'), right_on=' ParentId', how='left')
answersTable

,Id,OwnerUserId,CreationDate,LastActivityDate,Score,ParentId,CommentCount,AbsSum,AbsSumGlobal
0,79741,3259,2008-09-17T03:43:22.923,2008-09-17T03:43:22.923,-1,79709,1,1,23
1,79768,6043,2008-09-17T03:48:29.900,2008-09-17T03:48:29.900,10,79709,0,10,23
2,79779,8002,2008-09-17T03:49:36.560,2008-09-17T03:49:36.560,0,79709,0,0,23
3,79788,0,2008-09-17T03:51:30.190,2008-09-17T03:51:30.190,4,79709,0,4,23
4,79827,14257,2008-09-17T03:58:26.367,2015-04-16T04:07:55.567,1,79709,0,1,23
5,79893,14928,2008-09-17T04:11:08.660,2008-09-17T04:11:08.660,6,79709,0,6,23
6,83162,15842,2008-09-17T13:27:17.140,2008-09-17T13:27:17.140,82,77434,0,82,499
7,83222,1428,2008-09-17T13:32:45.113,2015-11-19T19:12:20.690,262,77434,4,262,499
8,86804,0,2008-09-17T19:39:37.370,2008-09-17T19:39:37.370,1,79709,0,1,23
9,95598,1179,2008-09-18T18:49:09.870,2008-09-18T18:49:09.870,5,95007,0,5,59
10,102067,6833,2008-09-19T14:05:20.517,2008-09-19T14:05:20.517,0,102056,0,0,187
11,102121,6899,2008-09-19T14:11:48.957,2008-09-19T14:11:48.957,4,102056,0,4,187
12,102143,1428,2008-09-19T14:14:03.413,2008-09-19T14:14:03.413,7,102056,0,7,187
13,102610,1447,2008-09-19T15:07:01.303,2008-09-19T15:07:01.303,0,102056,1,0,187
14,103396,4482,2008-09-19T16:20:30.987,2008-09-19T16:20:30.987,6,103312,0,6,10
15,109706,16632,2008-09-20T23:02:51.013,2008-09-20T23:02:51.013,18,102056,0,18,187
16,127147,2583,2008-09-24T13:33:48.897,2009-07-23T18:50:32.667,20,127137,2,20,114
17,127168,3201,2008-09-24T13:37:30.917,2008-09-24T13:37:30.917,3,127137,0,3,114
18,127176,987,2008-09-24T13:38:20.883,2009-07-26T07:31:19.540,0,127137,9,0,114
19,132781,16632,2008-09-25T11:45:38.337,2009-07-26T20:49:26.907,10,127137,1,10,114
20,133237,15842,2008-09-25T13:14:20.930,2008-09-25T13:14:20.930,9,127137,2,9,114
21,141548,15842,2008-09-26T19:51:12.753,2010-02-18T12:38:47.163,14,127137,0,14,114
22,153852,23813,2008-09-30T16:28:14.767,2009-05-11T18:15:33.573,41,77434,1,41,499
23,215504,25188,2008-10-18T19:56:51.103,2008-10-18T19:56:51.103,6,102056,1,6,187
24,255992,23263,2008-11-01T19:29:54.997,2008-11-01T19:29:54.997,2,255697,3,2,2
25,314391,37751,2008-11-24T15:01:37.363,2009-07-26T00:56:59.933,19,127137,0,19,114
26,359458,3201,2008-12-11T14:06:56.157,2008-12-11T14:06:56.157,2,359438,1,2,31
27,420368,1702,2009-01-07T13:51:49.527,2009-01-07T13:51:49.527,2,420296,0,2,46
28,420384,45914,2009-01-07T13:56:37.397,2014-04-25T14:03:32.487,17,420296,0,17,46
29,420639,25188,2009-01-07T15:06:30.203,2009-01-07T15:06:30.203,3,420296,1,3,46
...,...,...,...,...,...,...,...,...,...
290885,49214825,7936744,2018-03-10T22:50:35.873,2018-03-10T22:50:35.873,0,49214756,2,0,0
290886,49214839,8038778,2018-03-10T22:52:38.033,2018-03-10T22:52:38.033,0,49214435,0,0,0
290887,49214856,2748855,2018-03-10T22:54:34.140,2018-03-10T22:54:34.140,0,49214464,0,0,0
290888,49214861,8585831,2018-03-10T22:55:24.487,2018-03-10T22:55:24.487,0,49214287,0,0,0
290889,49214864,1399915,2018-03-10T22:55:55.697,2018-03-10T22:55:55.697,0,49213418,0,0,0
290890,49214926,4752675,2018-03-10T23:05:54.613,2018-03-10T23:15:00.863,2,49214867,0,2,2
290891,49214936,9457283,2018-03-10T23:07:20.130,2018-03-10T23:07:20.130,0,49212850,0,0,0
290892,49214999,9457283,2018-03-10T23:16:14.613,2018-03-10T23:16:14.613,0,49212806,0,0,0
290893,49215066,7936744,2018-03-10T23:26:37.860,2018-03-10T23:26:37.860,1,49215022,0,1,1
290894,49215089,1953718,2018-03-10T23:30:07.230,2018-03-10T23:30:07.230,1,49214950,0,1,1
290895,49215092,9457283,2018-03-10T23:30:23.877,2018-03-10T23:30:23.877,0,49215022,0,0,1
290896,49215134,7716885,2018-03-10T23:36:37.347,2018-03-10T23:36:37.347,0,49203001,0,0,0
290897,49215145,1166684,2018-03-10T23:38:10.470,2018-03-10T23:38:10.470,0,47452445,0,0,0
290898,49215168,2554330,2018-03-10T23:41:20.690,2018-03-10T23:41:20.690,0,49208973,0,0,0
290899,49215215,7936744,2018-03-10T23:51:34.933,2018-03-10T23:57:05.737,0,49116123,0,0,2
290900,49215263,1953718,2018-03-10T23:58:49.400,2018-03-10T23:58:49.400,0,49215193,2,0,0
290901,49215317,4421870,2018-03-11T00:07:34.977,2018-03-11T00:07:34.977,2,49215199,1,2,2
290902,49215331,4752675,2018-03-11T00:11:07.050,2018-03-11T00:11:07.050,1,49194832,0,1,1
290903,49215475,9457283,2018-03-11T00:38:33.583,2018-03-11T00:38:33.583,0,49215199,0,0,2
290904,49215572,3063910,2018-03-11T00:55:01.373,2018-03-11T01:35:00.363,4,49215499,3,4,4
290905,49215600,189946,2018-03-11T01:01:36.377,2018-03-11T01:01:36.377,0,49194832,0,0,1
290906,49215654,7954106,2018-03-11T01:10:58.527,2018-03-11T01:10:58.527,0,49211230,2,0,2
290907,49215798,1953718,2018-03-11T01:38:03.673,2018-03-11T01:38:03.673,0,49215781,1,0,0
290908,49215810,7954106,2018-03-11T01:42:20.873,2018-03-11T02:04:45.157,-1,49215356,0,1,1
290909,49215888,1730958,2018-03-11T01:56:48.820,2018-03-11T01:56:48.820,0,49212806,0,0,0
290910,49216124,7362046,2018-03-11T02:41:56.533,2018-03-11T02:58:54.953,1,49216103,2,1,3
290911,49216133,3732271,2018-03-11T02:43:48.673,2018-03-11T02:43:48.673,2,49216103,0,2,3
290912,49216291,3732271,2018-03-11T03:17:56.250,2018-03-11T03:42:48.840,0,49215993,0,0,0
290913,49216444,1730958,2018-03-11T03:46:27.543,2018-03-11T03:46:27.543,0,49216162,0,0,0
290914,49216589,7954106,2018-03-11T04:17:25.483,2018-03-11T04:17:25.483,0,49033505,0,0,0

In [163]:
answersTable[' RelativeScore'] =  answersTable[' AbsSum'] / answersTable[' AbsSumGlobal']  
answersTable[' Score']

0          -1
1          10
2           0
3           4
4           1
5           6
6          82
7         262
8           1
9           5
10          0
11          4
12          7
13          0
14          6
15         18
16         20
17          3
18          0
19         10
20          9
21         14
22         41
23          6
24          2
25         19
26          2
27          2
28         17
29          3
         ...
290885      0
290886      0
290887      0
290888      0
290889      0
290890      2
290891      0
290892      0
290893      1
290894      1
290895      0
290896      0
290897      0
290898      0
290899      0
290900      0
290901      2
290902      1
290903      0
290904      4
290905      0
290906      0
290907      0
290908     -1
290909      0
290910      1
290911      2
290912      0
290913      0
290914      0
Name:  Score, Length: 290915, dtype: int64

In [164]:
answersTable.loc[answersTable[' Score'] < 0,' RelativeScore'] = - answersTable[' RelativeScore'] 
    
answersTable.loc[answersTable[' Score'] == 0,' RelativeScore'] =0

In [165]:
answersTable

,Id,OwnerUserId,CreationDate,LastActivityDate,Score,ParentId,CommentCount,AbsSum,AbsSumGlobal,RelativeScore
0,79741,3259,2008-09-17T03:43:22.923,2008-09-17T03:43:22.923,-1,79709,1,1,23,-0.043478
1,79768,6043,2008-09-17T03:48:29.900,2008-09-17T03:48:29.900,10,79709,0,10,23,0.434783
2,79779,8002,2008-09-17T03:49:36.560,2008-09-17T03:49:36.560,0,79709,0,0,23,0.000000
3,79788,0,2008-09-17T03:51:30.190,2008-09-17T03:51:30.190,4,79709,0,4,23,0.173913
4,79827,14257,2008-09-17T03:58:26.367,2015-04-16T04:07:55.567,1,79709,0,1,23,0.043478
5,79893,14928,2008-09-17T04:11:08.660,2008-09-17T04:11:08.660,6,79709,0,6,23,0.260870
6,83162,15842,2008-09-17T13:27:17.140,2008-09-17T13:27:17.140,82,77434,0,82,499,0.164329
7,83222,1428,2008-09-17T13:32:45.113,2015-11-19T19:12:20.690,262,77434,4,262,499,0.525050
8,86804,0,2008-09-17T19:39:37.370,2008-09-17T19:39:37.370,1,79709,0,1,23,0.043478
9,95598,1179,2008-09-18T18:49:09.870,2008-09-18T18:49:09.870,5,95007,0,5,59,0.084746
10,102067,6833,2008-09-19T14:05:20.517,2008-09-19T14:05:20.517,0,102056,0,0,187,0.000000
11,102121,6899,2008-09-19T14:11:48.957,2008-09-19T14:11:48.957,4,102056,0,4,187,0.021390
12,102143,1428,2008-09-19T14:14:03.413,2008-09-19T14:14:03.413,7,102056,0,7,187,0.037433
13,102610,1447,2008-09-19T15:07:01.303,2008-09-19T15:07:01.303,0,102056,1,0,187,0.000000
14,103396,4482,2008-09-19T16:20:30.987,2008-09-19T16:20:30.987,6,103312,0,6,10,0.600000
15,109706,16632,2008-09-20T23:02:51.013,2008-09-20T23:02:51.013,18,102056,0,18,187,0.096257
16,127147,2583,2008-09-24T13:33:48.897,2009-07-23T18:50:32.667,20,127137,2,20,114,0.175439
17,127168,3201,2008-09-24T13:37:30.917,2008-09-24T13:37:30.917,3,127137,0,3,114,0.026316
18,127176,987,2008-09-24T13:38:20.883,2009-07-26T07:31:19.540,0,127137,9,0,114,0.000000
19,132781,16632,2008-09-25T11:45:38.337,2009-07-26T20:49:26.907,10,127137,1,10,114,0.087719
20,133237,15842,2008-09-25T13:14:20.930,2008-09-25T13:14:20.930,9,127137,2,9,114,0.078947
21,141548,15842,2008-09-26T19:51:12.753,2010-02-18T12:38:47.163,14,127137,0,14,114,0.122807
22,153852,23813,2008-09-30T16:28:14.767,2009-05-11T18:15:33.573,41,77434,1,41,499,0.082164
23,215504,25188,2008-10-18T19:56:51.103,2008-10-18T19:56:51.103,6,102056,1,6,187,0.032086
24,255992,23263,2008-11-01T19:29:54.997,2008-11-01T19:29:54.997,2,255697,3,2,2,1.000000
25,314391,37751,2008-11-24T15:01:37.363,2009-07-26T00:56:59.933,19,127137,0,19,114,0.166667
26,359458,3201,2008-12-11T14:06:56.157,2008-12-11T14:06:56.157,2,359438,1,2,31,0.064516
27,420368,1702,2009-01-07T13:51:49.527,2009-01-07T13:51:49.527,2,420296,0,2,46,0.043478
28,420384,45914,2009-01-07T13:56:37.397,2014-04-25T14:03:32.487,17,420296,0,17,46,0.369565
29,420639,25188,2009-01-07T15:06:30.203,2009-01-07T15:06:30.203,3,420296,1,3,46,0.065217
...,...,...,...,...,...,...,...,...,...,...
290885,49214825,7936744,2018-03-10T22:50:35.873,2018-03-10T22:50:35.873,0,49214756,2,0,0,0.000000
290886,49214839,8038778,2018-03-10T22:52:38.033,2018-03-10T22:52:38.033,0,49214435,0,0,0,0.000000
290887,49214856,2748855,2018-03-10T22:54:34.140,2018-03-10T22:54:34.140,0,49214464,0,0,0,0.000000
290888,49214861,8585831,2018-03-10T22:55:24.487,2018-03-10T22:55:24.487,0,49214287,0,0,0,0.000000
290889,49214864,1399915,2018-03-10T22:55:55.697,2018-03-10T22:55:55.697,0,49213418,0,0,0,0.000000
290890,49214926,4752675,2018-03-10T23:05:54.613,2018-03-10T23:15:00.863,2,49214867,0,2,2,1.000000
290891,49214936,9457283,2018-03-10T23:07:20.130,2018-03-10T23:07:20.130,0,49212850,0,0,0,0.000000
290892,49214999,9457283,2018-03-10T23:16:14.613,2018-03-10T23:16:14.613,0,49212806,0,0,0,0.000000
290893,49215066,7936744,2018-03-10T23:26:37.860,2018-03-10T23:26:37.860,1,49215022,0,1,1,1.000000
290894,49215089,1953718,2018-03-10T23:30:07.230,2018-03-10T23:30:07.230,1,49214950,0,1,1,1.000000
290895,49215092,9457283,2018-03-10T23:30:23.877,2018-03-10T23:30:23.877,0,49215022,0,0,1,0.000000
290896,49215134,7716885,2018-03-10T23:36:37.347,2018-03-10T23:36:37.347,0,49203001,0,0,0,0.000000
290897,49215145,1166684,2018-03-10T23:38:10.470,2018-03-10T23:38:10.470,0,47452445,0,0,0,0.000000
290898,49215168,2554330,2018-03-10T23:41:20.690,2018-03-10T23:41:20.690,0,49208973,0,0,0,0.000000
290899,49215215,7936744,2018-03-10T23:51:34.933,2018-03-10T23:57:05.737,0,49116123,0,0,2,0.000000
290900,49215263,1953718,2018-03-10T23:58:49.400,2018-03-10T23:58:49.400,0,49215193,2,0,0,0.000000
290901,49215317,4421870,2018-03-11T00:07:34.977,2018-03-11T00:07:34.977,2,49215199,1,2,2,1.000000
290902,49215331,4752675,2018-03-11T00:11:07.050,2018-03-11T00:11:07.050,1,49194832,0,1,1,1.000000
290903,49215475,9457283,2018-03-11T00:38:33.583,2018-03-11T00:38:33.583,0,49215199,0,0,2,0.000000
290904,49215572,3063910,2018-03-11T00:55:01.373,2018-03-11T01:35:00.363,4,49215499,3,4,4,1.000000
290905,49215600,189946,2018-03-11T01:01:36.377,2018-03-11T01:01:36.377,0,49194832,0,0,1,0.000000
290906,49215654,7954106,2018-03-11T01:10:58.527,2018-03-11T01:10:58.527,0,49211230,2,0,2,0.000000
290907,49215798,1953718,2018-03-11T01:38:03.673,2018-03-11T01:38:03.673,0,49215781,1,0,0,0.000000
290908,49215810,7954106,2018-03-11T01:42:20.873,2018-03-11T02:04:45.157,-1,49215356,0,1,1,-1.000000
290909,49215888,1730958,2018-03-11T01:56:48.820,2018-03-11T01:56:48.820,0,49212806,0,0,0,0.000000
290910,49216124,7362046,2018-03-11T02:41:56.533,2018-03-11T02:58:54.953,1,49216103,2,1,3,0.333333
290911,49216133,3732271,2018-03-11T02:43:48.673,2018-03-11T02:43:48.673,2,49216103,0,2,3,0.666667
290912,49216291,3732271,2018-03-11T03:17:56.250,2018-03-11T03:42:48.840,0,49215993,0,0,0,0.000000
290913,49216444,1730958,2018-03-11T03:46:27.543,2018-03-11T03:46:27.543,0,49216162,0,0,0,0.000000
290914,49216589,7954106,2018-03-11T04:17:25.483,2018-03-11T04:17:25.483,0,49033505,0,0,0,0.000000

In [166]:
answersTable['CumSumQuestions'] = answersTable.groupby(' OwnerUserId').cumcount() + 1

In [167]:
answersTable

,Id,OwnerUserId,CreationDate,LastActivityDate,Score,ParentId,CommentCount,AbsSum,AbsSumGlobal,RelativeScore,CumSumQuestions
0,79741,3259,2008-09-17T03:43:22.923,2008-09-17T03:43:22.923,-1,79709,1,1,23,-0.043478,1
1,79768,6043,2008-09-17T03:48:29.900,2008-09-17T03:48:29.900,10,79709,0,10,23,0.434783,1
2,79779,8002,2008-09-17T03:49:36.560,2008-09-17T03:49:36.560,0,79709,0,0,23,0.000000,1
3,79788,0,2008-09-17T03:51:30.190,2008-09-17T03:51:30.190,4,79709,0,4,23,0.173913,1
4,79827,14257,2008-09-17T03:58:26.367,2015-04-16T04:07:55.567,1,79709,0,1,23,0.043478,1
5,79893,14928,2008-09-17T04:11:08.660,2008-09-17T04:11:08.660,6,79709,0,6,23,0.260870,1
6,83162,15842,2008-09-17T13:27:17.140,2008-09-17T13:27:17.140,82,77434,0,82,499,0.164329,1
7,83222,1428,2008-09-17T13:32:45.113,2015-11-19T19:12:20.690,262,77434,4,262,499,0.525050,1
8,86804,0,2008-09-17T19:39:37.370,2008-09-17T19:39:37.370,1,79709,0,1,23,0.043478,2
9,95598,1179,2008-09-18T18:49:09.870,2008-09-18T18:49:09.870,5,95007,0,5,59,0.084746,1
10,102067,6833,2008-09-19T14:05:20.517,2008-09-19T14:05:20.517,0,102056,0,0,187,0.000000,1
11,102121,6899,2008-09-19T14:11:48.957,2008-09-19T14:11:48.957,4,102056,0,4,187,0.021390,1
12,102143,1428,2008-09-19T14:14:03.413,2008-09-19T14:14:03.413,7,102056,0,7,187,0.037433,2
13,102610,1447,2008-09-19T15:07:01.303,2008-09-19T15:07:01.303,0,102056,1,0,187,0.000000,1
14,103396,4482,2008-09-19T16:20:30.987,2008-09-19T16:20:30.987,6,103312,0,6,10,0.600000,1
15,109706,16632,2008-09-20T23:02:51.013,2008-09-20T23:02:51.013,18,102056,0,18,187,0.096257,1
16,127147,2583,2008-09-24T13:33:48.897,2009-07-23T18:50:32.667,20,127137,2,20,114,0.175439,1
17,127168,3201,2008-09-24T13:37:30.917,2008-09-24T13:37:30.917,3,127137,0,3,114,0.026316,1
18,127176,987,2008-09-24T13:38:20.883,2009-07-26T07:31:19.540,0,127137,9,0,114,0.000000,1
19,132781,16632,2008-09-25T11:45:38.337,2009-07-26T20:49:26.907,10,127137,1,10,114,0.087719,2
20,133237,15842,2008-09-25T13:14:20.930,2008-09-25T13:14:20.930,9,127137,2,9,114,0.078947,2
21,141548,15842,2008-09-26T19:51:12.753,2010-02-18T12:38:47.163,14,127137,0,14,114,0.122807,3
22,153852,23813,2008-09-30T16:28:14.767,2009-05-11T18:15:33.573,41,77434,1,41,499,0.082164,1
23,215504,25188,2008-10-18T19:56:51.103,2008-10-18T19:56:51.103,6,102056,1,6,187,0.032086,1
24,255992,23263,2008-11-01T19:29:54.997,2008-11-01T19:29:54.997,2,255697,3,2,2,1.000000,1
25,314391,37751,2008-11-24T15:01:37.363,2009-07-26T00:56:59.933,19,127137,0,19,114,0.166667,1
26,359458,3201,2008-12-11T14:06:56.157,2008-12-11T14:06:56.157,2,359438,1,2,31,0.064516,2
27,420368,1702,2009-01-07T13:51:49.527,2009-01-07T13:51:49.527,2,420296,0,2,46,0.043478,1
28,420384,45914,2009-01-07T13:56:37.397,2014-04-25T14:03:32.487,17,420296,0,17,46,0.369565,1
29,420639,25188,2009-01-07T15:06:30.203,2009-01-07T15:06:30.203,3,420296,1,3,46,0.065217,2
...,...,...,...,...,...,...,...,...,...,...,...
290885,49214825,7936744,2018-03-10T22:50:35.873,2018-03-10T22:50:35.873,0,49214756,2,0,0,0.000000,59
290886,49214839,8038778,2018-03-10T22:52:38.033,2018-03-10T22:52:38.033,0,49214435,0,0,0,0.000000,13
290887,49214856,2748855,2018-03-10T22:54:34.140,2018-03-10T22:54:34.140,0,49214464,0,0,0,0.000000,3
290888,49214861,8585831,2018-03-10T22:55:24.487,2018-03-10T22:55:24.487,0,49214287,0,0,0,0.000000,4
290889,49214864,1399915,2018-03-10T22:55:55.697,2018-03-10T22:55:55.697,0,49213418,0,0,0,0.000000,1
290890,49214926,4752675,2018-03-10T23:05:54.613,2018-03-10T23:15:00.863,2,49214867,0,2,2,1.000000,590
290891,49214936,9457283,2018-03-10T23:07:20.130,2018-03-10T23:07:20.130,0,49212850,0,0,0,0.000000,21
290892,49214999,9457283,2018-03-10T23:16:14.613,2018-03-10T23:16:14.613,0,49212806,0,0,0,0.000000,22
290893,49215066,7936744,2018-03-10T23:26:37.860,2018-03-10T23:26:37.860,1,49215022,0,1,1,1.000000,60
290894,49215089,1953718,2018-03-10T23:30:07.230,2018-03-10T23:30:07.230,1,49214950,0,1,1,1.000000,84
290895,49215092,9457283,2018-03-10T23:30:23.877,2018-03-10T23:30:23.877,0,49215022,0,0,1,0.000000,23
290896,49215134,7716885,2018-03-10T23:36:37.347,2018-03-10T23:36:37.347,0,49203001,0,0,0,0.000000,3
290897,49215145,1166684,2018-03-10T23:38:10.470,2018-03-10T23:38:10.470,0,47452445,0,0,0,0.000000,435
290898,49215168,2554330,2018-03-10T23:41:20.690,2018-03-10T23:41:20.690,0,49208973,0,0,0,0.000000,203
290899,49215215,7936744,2018-03-10T23:51:34.933,2018-03-10T23:57:05.737,0,49116123,0,0,2,0.000000,61
290900,49215263,1953718,2018-03-10T23:58:49.400,2018-03-10T23:58:49.400,0,49215193,2,0,0,0.000000,85
290901,49215317,4421870,2018-03-11T00:07:34.977,2018-03-11T00:07:34.977,2,49215199,1,2,2,1.000000,132
290902,49215331,4752675,2018-03-11T00:11:07.050,2018-03-11T00:11:07.050,1,49194832,0,1,1,1.000000,591
290903,49215475,9457283,2018-03-11T00:38:33.583,2018-03-11T00:38:33.583,0,49215199,0,0,2,0.000000,24
290904,49215572,3063910,2018-03-11T00:55:01.373,2018-03-11T01:35:00.363,4,49215499,3,4,4,1.000000,1806
290905,49215600,189946,2018-03-11T01:01:36.377,2018-03-11T01:01:36.377,0,49194832,0,0,1,0.000000,109
290906,49215654,7954106,2018-03-11T01:10:58.527,2018-03-11T01:10:58.527,0,49211230,2,0,2,0.000000,44
290907,49215798,1953718,2018-03-11T01:38:03.673,2018-03-11T01:38:03.673,0,49215781,1,0,0,0.000000,86
290908,49215810,7954106,2018-03-11T01:42:20.873,2018-03-11T02:04:45.157,-1,49215356,0,1,1,-1.000000,45
290909,49215888,1730958,2018-03-11T01:56:48.820,2018-03-11T01:56:48.820,0,49212806,0,0,0,0.000000,23
290910,49216124,7362046,2018-03-11T02:41:56.533,2018-03-11T02:58:54.953,1,49216103,2,1,3,0.333333,105
290911,49216133,3732271,2018-03-11T02:43:48.673,2018-03-11T02:43:48.673,2,49216103,0,2,3,0.666667,13116
290912,49216291,3732271,2018-03-11T03:17:56.250,2018-03-11T03:42:48.840,0,49215993,0,0,0,0.000000,13117
290913,49216444,1730958,2018-03-11T03:46:27.543,2018-03-11T03:46:27.543,0,49216162,0,0,0,0.000000,24
290914,49216589,7954106,2018-03-11T04:17:25.483,2018-03-11T04:17:25.483,0,49033505,0,0,0,0.000000,46

In [168]:
answersTable[' RelativeScore']

0        -0.043478
1         0.434783
2         0.000000
3         0.173913
4         0.043478
5         0.260870
6         0.164329
7         0.525050
8         0.043478
9         0.084746
10        0.000000
11        0.021390
12        0.037433
13        0.000000
14        0.600000
15        0.096257
16        0.175439
17        0.026316
18        0.000000
19        0.087719
20        0.078947
21        0.122807
22        0.082164
23        0.032086
24        1.000000
25        0.166667
26        0.064516
27        0.043478
28        0.369565
29        0.065217
            ...
290885    0.000000
290886    0.000000
290887    0.000000
290888    0.000000
290889    0.000000
290890    1.000000
290891    0.000000
290892    0.000000
290893    1.000000
290894    1.000000
290895    0.000000
290896    0.000000
290897    0.000000
290898    0.000000
290899    0.000000
290900    0.000000
290901    1.000000
290902    1.000000
290903    0.000000
290904    1.000000
290905    0.000000
290906    0.000000
290907    0.000000
290908   -1.000000
290909    0.000000
290910    0.333333
290911    0.666667
290912    0.000000
290913    0.000000
290914    0.000000
Name:  RelativeScore, Length: 290915, dtype: float64

In [169]:
answersTable['CumSumQuestions'] = answersTable.groupby(' OwnerUserId').cumcount() + 1

In [171]:
answersTable['CumScore'] = answersTable[' RelativeScore'] / answersTable['CumSumQuestions']

In [174]:
answersTable

,Id,OwnerUserId,CreationDate,LastActivityDate,Score,ParentId,CommentCount,AbsSum,AbsSumGlobal,RelativeScore,CumSumQuestions,CumScore
3,79788,0,2008-09-17T03:51:30.190,2008-09-17T03:51:30.190,4,79709,0,4,23,0.173913,1,0.173913
8,86804,0,2008-09-17T19:39:37.370,2008-09-17T19:39:37.370,1,79709,0,1,23,0.043478,2,0.021739
41,476928,0,2009-01-25T00:05:19.107,2009-01-26T03:22:01.867,19,476726,0,19,28,0.678571,3,0.226190
44,501926,0,2009-02-02T00:42:27.250,2009-02-02T00:42:27.250,6,501917,0,6,17,0.352941,4,0.088235
62,612573,0,2009-03-04T21:41:41.980,2009-03-04T21:41:41.980,8,596819,1,8,20,0.400000,5,0.080000
85,750852,0,2009-04-15T08:58:03.103,2009-04-15T09:14:06.747,-1,750786,1,1,166,-0.006024,6,-0.001004
98,823251,0,2009-05-05T03:50:25.733,2009-05-05T03:50:25.733,8,750786,1,8,166,0.048193,7,0.006885
104,876778,0,2009-05-18T08:56:02.270,2009-05-18T09:48:20.650,2,876711,0,2,27,0.074074,8,0.009259
113,969680,0,2009-06-09T12:03:40.747,2013-06-08T13:44:20.033,114,750786,4,114,166,0.686747,9,0.076305
135,1116218,0,2009-07-12T15:18:02.497,2009-07-12T18:40:27.267,4,1114699,1,4,21,0.190476,10,0.019048
148,1165291,0,2009-07-22T13:36:00.970,2009-07-22T13:36:00.970,6,1097367,0,6,235,0.025532,11,0.002321
150,1166098,0,2009-07-22T15:26:31.303,2014-06-11T07:02:10.920,2,736541,0,2,29,0.068966,12,0.005747
159,1169308,0,2009-07-23T02:40:45.820,2009-07-23T02:40:45.820,2,1092506,0,2,5,0.400000,13,0.030769
168,1169508,0,2009-07-23T03:50:46.080,2009-07-23T04:04:36.973,38,1169456,0,38,548,0.069343,14,0.004953
185,1171599,0,2009-07-23T13:10:53.620,2016-04-09T20:27:02.583,6,1169388,0,6,35,0.171429,15,0.011429
203,1175007,0,2009-07-23T23:14:53.757,2009-07-23T23:14:53.757,6,1097367,0,6,235,0.025532,16,0.001596
269,1199155,0,2009-07-29T09:59:55.180,2009-07-29T09:59:55.180,8,659725,4,8,14,0.571429,17,0.033613
328,1273412,0,2009-08-13T17:22:36.597,2011-05-02T13:28:12.997,1,1262911,1,1,3,0.333333,18,0.018519
407,1352386,0,2009-08-29T21:11:02.750,2009-08-29T21:11:02.750,0,1343442,0,0,12,0.000000,19,0.000000
458,1385872,0,2009-09-06T15:04:17.617,2009-09-06T15:04:17.617,1,1173463,0,1,83,0.012048,20,0.000602
464,1386816,0,2009-09-06T21:48:36.307,2009-09-06T21:48:36.307,5,1386767,1,5,67,0.074627,21,0.003554
528,1396421,0,2009-09-08T21:28:03.680,2015-06-17T01:13:41.233,3,1395266,0,3,5,0.600000,22,0.027273
551,1401956,0,2009-09-09T20:40:00.560,2009-09-09T20:40:00.560,23,1395622,0,23,55,0.418182,23,0.018182
566,1403775,0,2009-09-10T07:13:53.447,2009-09-10T07:13:53.447,3,1403560,0,3,20,0.150000,24,0.006250
588,1408623,0,2009-09-11T01:45:37.763,2009-09-11T01:45:37.763,2,1402634,0,2,20,0.100000,25,0.004000
589,1409270,0,2009-09-11T06:20:45.183,2009-09-11T06:20:45.183,1,420296,0,1,46,0.021739,26,0.000836
611,1416265,0,2009-09-12T22:00:17.900,2009-09-12T22:00:17.900,0,1408897,0,0,13,0.000000,27,0.000000
830,1526408,0,2009-10-06T15:37:38.000,2009-10-06T15:37:38.000,4,102056,0,4,187,0.021390,28,0.000764
841,1535208,0,2009-10-08T01:54:05.777,2009-10-08T02:08:19.040,6,1535021,2,6,312,0.019231,29,0.000663
1206,1849388,0,2009-12-04T20:14:56.337,2017-04-08T13:21:04.203,122,1395528,1,122,205,0.595122,30,0.019837
...,...,...,...,...,...,...,...,...,...,...,...,...
290519,49186696,9457283,2018-03-09T04:41:13.297,2018-03-09T04:41:13.297,0,49186563,2,0,0,0.000000,15,0.000000
290529,49187359,9457283,2018-03-09T05:47:15.707,2018-03-09T05:47:15.707,0,49186984,2,0,0,0.000000,16,0.000000
290708,49201195,9457283,2018-03-09T19:52:10.230,2018-03-09T19:52:10.230,2,49200937,0,2,3,0.666667,17,0.039216
290778,49205407,9457283,2018-03-10T04:43:50.723,2018-03-10T04:43:50.723,1,49203537,2,1,1,1.000000,18,0.055556
290779,49205507,9457283,2018-03-10T05:00:41.757,2018-03-10T05:12:36.657,2,49205216,2,2,2,1.000000,19,0.052632
290882,49214446,9457283,2018-03-10T22:00:07.593,2018-03-10T22:00:07.593,0,49214287,4,0,0,0.000000,20,0.000000
290891,49214936,9457283,2018-03-10T23:07:20.130,2018-03-10T23:07:20.130,0,49212850,0,0,0,0.000000,21,0.000000
290892,49214999,9457283,2018-03-10T23:16:14.613,2018-03-10T23:16:14.613,0,49212806,0,0,0,0.000000,22,0.000000
290895,49215092,9457283,2018-03-10T23:30:23.877,2018-03-10T23:30:23.877,0,49215022,0,0,1,0.000000,23,0.000000
290903,49215475,9457283,2018-03-11T00:38:33.583,2018-03-11T00:38:33.583,0,49215199,0,0,2,0.000000,24,0.000000
290114,49155732,9457592,2018-03-07T15:35:00.460,2018-03-07T16:00:24.573,0,32145921,0,0,2,0.000000,1,0.000000
290125,49156425,9457764,2018-03-07T16:07:37.257,2018-03-07T16:07:37.257,1,49150415,1,1,1,1.000000,1,1.000000
290205,49162321,9459248,2018-03-07T22:32:58.113,2018-03-07T22:32:58.113,0,44991887,0,0,0,0.000000,1,0.000000
290216,49162935,9459400,2018-03-07T23:24:28.570,2018-03-07T23:36:12.253,0,29893630,0,0,6,0.000000,1,0.000000
290548,49189812,9462387,2018-03-09T08:49:08.110,2018-03-09T08:49:08.110,0,49176774,0,0,0,0.000000,1,0.000000
290537,49188565,9463319,2018-03-09T07:24:07.560,2018-03-09T07:24:07.560,0,49178028,0,0,0,0.000000,1,0.000000
290495,49184990,9463762,2018-03-09T00:55:52.287,2018-03-09T00:55:52.287,0,49181431,0,0,0,0.000000,1,0.000000
290484,49184219,9464692,2018-03-08T23:28:11.533,2018-03-08T23:28:11.533,-1,32278825,0,1,16,-0.062500,1,-0.062500
290511,49186296,9465539,2018-03-09T03:45:49.943,2018-03-09T05:52:20.090,0,16720630,0,0,7,0.000000,1,0.000000
290542,49189266,9466395,2018-03-09T08:10:53.320,2018-03-09T08:10:53.320,0,48647822,0,0,0,0.000000,1,0.000000
290602,49194506,9467700,2018-03-09T13:06:57.210,2018-03-09T13:33:35.503,0,21560931,0,0,2,0.000000,1,0.000000
290702,49200985,9468672,2018-03-09T19:37:46.170,2018-03-09T19:37:46.170,0,49198976,0,0,1,0.000000,1,0.000000
290673,49199631,9469054,2018-03-09T18:03:18.707,2018-03-09T18:03:18.707,0,25210134,0,0,1,0.000000,1,0.000000
290687,49200176,9469176,2018-03-09T18:39:30.703,2018-03-09T18:39:30.703,0,49182838,0,0,4,0.000000,1,0.000000
290731,49202755,9469840,2018-03-09T21:55:41.423,2018-03-09T21:55:41.423,0,42807247,0,0,0,0.000000,1,0.000000
290748,49203353,9469977,2018-03-09T22:50:53.123,2018-03-09T22:50:53.123,1,49197963,0,1,2,0.500000,1,0.500000
290769,49204826,9470419,2018-03-10T02:47:19.880,2018-03-10T03:13:24.310,0,46389836,0,0,1,0.000000,1,0.000000
290789,49207126,9471246,2018-03-10T08:43:25.650,2018-03-10T09:02:17.187,10,49206866,3,10,10,1.000000,1,1.000000
290792,49207371,9471319,2018-03-10T09:15:24.103,2018-03-10T09:15:24.103,1,12919984,0,1,57,0.017544,1,0.017544
290862,49213244,9473053,2018-03-10T19:38:42.257,2018-03-10T19:38:42.257,0,43062780,1,0,0,0.000000,1,0.000000

In [173]:
answersTable=answersTable.sort_values([' OwnerUserId',' CreationDate']) #order by user

In [178]:
answersTable['CumScore'] = answersTable.groupby(' OwnerUserId')[' RelativeScore'].cumsum()

In [181]:
answersTable

,Id,OwnerUserId,CreationDate,LastActivityDate,Score,ParentId,CommentCount,AbsSum,AbsSumGlobal,RelativeScore,CumSumQuestions,CumScore,UpMetric
3,79788,0,2008-09-17T03:51:30.190,2008-09-17T03:51:30.190,4,79709,0,4,23,0.173913,1,0.173913,0.173913
8,86804,0,2008-09-17T19:39:37.370,2008-09-17T19:39:37.370,1,79709,0,1,23,0.043478,2,0.217391,0.108696
41,476928,0,2009-01-25T00:05:19.107,2009-01-26T03:22:01.867,19,476726,0,19,28,0.678571,3,0.895963,0.298654
44,501926,0,2009-02-02T00:42:27.250,2009-02-02T00:42:27.250,6,501917,0,6,17,0.352941,4,1.248904,0.312226
62,612573,0,2009-03-04T21:41:41.980,2009-03-04T21:41:41.980,8,596819,1,8,20,0.400000,5,1.648904,0.329781
85,750852,0,2009-04-15T08:58:03.103,2009-04-15T09:14:06.747,-1,750786,1,1,166,-0.006024,6,1.642880,0.273813
98,823251,0,2009-05-05T03:50:25.733,2009-05-05T03:50:25.733,8,750786,1,8,166,0.048193,7,1.691073,0.241582
104,876778,0,2009-05-18T08:56:02.270,2009-05-18T09:48:20.650,2,876711,0,2,27,0.074074,8,1.765147,0.220643
113,969680,0,2009-06-09T12:03:40.747,2013-06-08T13:44:20.033,114,750786,4,114,166,0.686747,9,2.451894,0.272433
135,1116218,0,2009-07-12T15:18:02.497,2009-07-12T18:40:27.267,4,1114699,1,4,21,0.190476,10,2.642370,0.264237
148,1165291,0,2009-07-22T13:36:00.970,2009-07-22T13:36:00.970,6,1097367,0,6,235,0.025532,11,2.667902,0.242537
150,1166098,0,2009-07-22T15:26:31.303,2014-06-11T07:02:10.920,2,736541,0,2,29,0.068966,12,2.736867,0.228072
159,1169308,0,2009-07-23T02:40:45.820,2009-07-23T02:40:45.820,2,1092506,0,2,5,0.400000,13,3.136867,0.241297
168,1169508,0,2009-07-23T03:50:46.080,2009-07-23T04:04:36.973,38,1169456,0,38,548,0.069343,14,3.206210,0.229015
185,1171599,0,2009-07-23T13:10:53.620,2016-04-09T20:27:02.583,6,1169388,0,6,35,0.171429,15,3.377639,0.225176
203,1175007,0,2009-07-23T23:14:53.757,2009-07-23T23:14:53.757,6,1097367,0,6,235,0.025532,16,3.403171,0.212698
269,1199155,0,2009-07-29T09:59:55.180,2009-07-29T09:59:55.180,8,659725,4,8,14,0.571429,17,3.974599,0.233800
328,1273412,0,2009-08-13T17:22:36.597,2011-05-02T13:28:12.997,1,1262911,1,1,3,0.333333,18,4.307933,0.239330
407,1352386,0,2009-08-29T21:11:02.750,2009-08-29T21:11:02.750,0,1343442,0,0,12,0.000000,19,4.307933,0.226733
458,1385872,0,2009-09-06T15:04:17.617,2009-09-06T15:04:17.617,1,1173463,0,1,83,0.012048,20,4.319981,0.215999
464,1386816,0,2009-09-06T21:48:36.307,2009-09-06T21:48:36.307,5,1386767,1,5,67,0.074627,21,4.394608,0.209267
528,1396421,0,2009-09-08T21:28:03.680,2015-06-17T01:13:41.233,3,1395266,0,3,5,0.600000,22,4.994608,0.227028
551,1401956,0,2009-09-09T20:40:00.560,2009-09-09T20:40:00.560,23,1395622,0,23,55,0.418182,23,5.412790,0.235339
566,1403775,0,2009-09-10T07:13:53.447,2009-09-10T07:13:53.447,3,1403560,0,3,20,0.150000,24,5.562790,0.231783
588,1408623,0,2009-09-11T01:45:37.763,2009-09-11T01:45:37.763,2,1402634,0,2,20,0.100000,25,5.662790,0.226512
589,1409270,0,2009-09-11T06:20:45.183,2009-09-11T06:20:45.183,1,420296,0,1,46,0.021739,26,5.684529,0.218636
611,1416265,0,2009-09-12T22:00:17.900,2009-09-12T22:00:17.900,0,1408897,0,0,13,0.000000,27,5.684529,0.210538
830,1526408,0,2009-10-06T15:37:38.000,2009-10-06T15:37:38.000,4,102056,0,4,187,0.021390,28,5.705919,0.203783
841,1535208,0,2009-10-08T01:54:05.777,2009-10-08T02:08:19.040,6,1535021,2,6,312,0.019231,29,5.725150,0.197419
1206,1849388,0,2009-12-04T20:14:56.337,2017-04-08T13:21:04.203,122,1395528,1,122,205,0.595122,30,6.320272,0.210676
...,...,...,...,...,...,...,...,...,...,...,...,...,...
290519,49186696,9457283,2018-03-09T04:41:13.297,2018-03-09T04:41:13.297,0,49186563,2,0,0,0.000000,15,2.642857,0.176190
290529,49187359,9457283,2018-03-09T05:47:15.707,2018-03-09T05:47:15.707,0,49186984,2,0,0,0.000000,16,2.642857,0.165179
290708,49201195,9457283,2018-03-09T19:52:10.230,2018-03-09T19:52:10.230,2,49200937,0,2,3,0.666667,17,3.309524,0.194678
290778,49205407,9457283,2018-03-10T04:43:50.723,2018-03-10T04:43:50.723,1,49203537,2,1,1,1.000000,18,4.309524,0.239418
290779,49205507,9457283,2018-03-10T05:00:41.757,2018-03-10T05:12:36.657,2,49205216,2,2,2,1.000000,19,5.309524,0.279449
290882,49214446,9457283,2018-03-10T22:00:07.593,2018-03-10T22:00:07.593,0,49214287,4,0,0,0.000000,20,5.309524,0.265476
290891,49214936,9457283,2018-03-10T23:07:20.130,2018-03-10T23:07:20.130,0,49212850,0,0,0,0.000000,21,5.309524,0.252834
290892,49214999,9457283,2018-03-10T23:16:14.613,2018-03-10T23:16:14.613,0,49212806,0,0,0,0.000000,22,5.309524,0.241342
290895,49215092,9457283,2018-03-10T23:30:23.877,2018-03-10T23:30:23.877,0,49215022,0,0,1,0.000000,23,5.309524,0.230849
290903,49215475,9457283,2018-03-11T00:38:33.583,2018-03-11T00:38:33.583,0,49215199,0,0,2,0.000000,24,5.309524,0.221230
290114,49155732,9457592,2018-03-07T15:35:00.460,2018-03-07T16:00:24.573,0,32145921,0,0,2,0.000000,1,0.000000,0.000000
290125,49156425,9457764,2018-03-07T16:07:37.257,2018-03-07T16:07:37.257,1,49150415,1,1,1,1.000000,1,1.000000,1.000000
290205,49162321,9459248,2018-03-07T22:32:58.113,2018-03-07T22:32:58.113,0,44991887,0,0,0,0.000000,1,0.000000,0.000000
290216,49162935,9459400,2018-03-07T23:24:28.570,2018-03-07T23:36:12.253,0,29893630,0,0,6,0.000000,1,0.000000,0.000000
290548,49189812,9462387,2018-03-09T08:49:08.110,2018-03-09T08:49:08.110,0,49176774,0,0,0,0.000000,1,0.000000,0.000000
290537,49188565,9463319,2018-03-09T07:24:07.560,2018-03-09T07:24:07.560,0,49178028,0,0,0,0.000000,1,0.000000,0.000000
290495,49184990,9463762,2018-03-09T00:55:52.287,2018-03-09T00:55:52.287,0,49181431,0,0,0,0.000000,1,0.000000,0.000000
290484,49184219,9464692,2018-03-08T23:28:11.533,2018-03-08T23:28:11.533,-1,32278825,0,1,16,-0.062500,1,-0.062500,-0.062500
290511,49186296,9465539,2018-03-09T03:45:49.943,2018-03-09T05:52:20.090,0,16720630,0,0,7,0.000000,1,0.000000,0.000000
290542,49189266,9466395,2018-03-09T08:10:53.320,2018-03-09T08:10:53.320,0,48647822,0,0,0,0.000000,1,0.000000,0.000000
290602,49194506,9467700,2018-03-09T13:06:57.210,2018-03-09T13:33:35.503,0,21560931,0,0,2,0.000000,1,0.000000,0.000000
290702,49200985,9468672,2018-03-09T19:37:46.170,2018-03-09T19:37:46.170,0,49198976,0,0,1,0.000000,1,0.000000,0.000000
290673,49199631,9469054,2018-03-09T18:03:18.707,2018-03-09T18:03:18.707,0,25210134,0,0,1,0.000000,1,0.000000,0.000000
290687,49200176,9469176,2018-03-09T18:39:30.703,2018-03-09T18:39:30.703,0,49182838,0,0,4,0.000000,1,0.000000,0.000000
290731,49202755,9469840,2018-03-09T21:55:41.423,2018-03-09T21:55:41.423,0,42807247,0,0,0,0.000000,1,0.000000,0.000000
290748,49203353,9469977,2018-03-09T22:50:53.123,2018-03-09T22:50:53.123,1,49197963,0,1,2,0.500000,1,0.500000,0.500000
290769,49204826,9470419,2018-03-10T02:47:19.880,2018-03-10T03:13:24.310,0,46389836,0,0,1,0.000000,1,0.000000,0.000000
290789,49207126,9471246,2018-03-10T08:43:25.650,2018-03-10T09:02:17.187,10,49206866,3,10,10,1.000000,1,1.000000,1.000000
290792,49207371,9471319,2018-03-10T09:15:24.103,2018-03-10T09:15:24.103,1,12919984,0,1,57,0.017544,1,0.017544,0.017544
290862,49213244,9473053,2018-03-10T19:38:42.257,2018-03-10T19:38:42.257,0,43062780,1,0,0,0.000000,1,0.000000,0.000000

In [180]:
answersTable['UpMetric'] = answersTable['CumScore']/answersTable['CumSumQuestions']